<% if logged_in? %>
  <% if @pet && @pet.user == current_user %>
    <h3>Pet Information:</h3>
    <label>Name:</label> <%= @pet.name %><br>
    <br>
    <label>Gender:</label> <%= @pet.gender %><br>
    <br>
    <label>Birthday:</label> <%= @pet.birthday %><br>
    <br>
    <label>Fed?</label> <%= @pet.fed %><br>
    <br>
    <label>Walked?</label> <%= @pet.walk %><br>
    <br>
    <label>Dog Friendly?</label> <%= @pet.dog_friendly %><br>
    <br>
    <label>Vet Information:</label>
    <br><%= @pet.vet %><br>
    <br>
    <label>Additional Notes (allergies, medications, favorite treat/toy, etc.):</label><br>
    <%= @pet.add_notes %><br>
    <br>
    <a href="/pets/<%= @pet.id %>/edit">| Edit Pet |</a>
    <br>
    <br>
    <form method="post" action="/pets/<%= @pet.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Pet">
    </form>
  <% end %>
<% else %>
  <a href="/login">| Log In |</a>
<% end %>
