<% if logged_in? %>
  <% @pets.each do |pet| %>
    <div>
      <br><%= pet.name %></br>
      <br><%= pet.birthday %></br>
      <br><%= pet.fed %></br>
      <br><%= pet.walk %></br>
      <br><%= pet.dog_friendly %></br>
      <br><%= pet.vet %></br>
      <br><%= pet.add_notes %></br>
    </div>
  <% end %>
  <form method="post" action="/pets/<%= @pet.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Pet">
  </form>
  <a href="/pets/<%= @pet.id %>/edit">Edit Pet</a>
  <h4><a href="/logout">Log Out</a></h4>
<% else %>
  <a href="/login">Log In</a>
<% end %>
